.form-container{
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 900px) {
    .form-container{
        width: 80%;
        padding: 20px;
    }
}

.check{
    border: 2px solid green;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.ant-form-item-label {
    padding: unset !important;
}

.ant-form-item-label > label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

.supplemental-services-close-btn:hover,
.supplemental-services-close-btn:focus,
.supplemental-services-close-btn:active,
.supplemental-services-close-btn:not(:focus) {
    border-color: unset !important;
    border: unset;
    outline: unset;
}

.supplemental-card-title .ant-card-head-title {
    color: #007bff;
    font-size: 16px;
}

.claim-subtitle {
    color: #007bff !important;
}
